<%- layout("/layouts/boilerplate") %>

<body>
    <form class="mt-4 needs-validation" novalidate action="/user/signup" method="POST">
        <div class="row">
            <div class="col-8 offset-2">
             <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Fullname</label>
                <input type="text" class="form-control" name="fullname" id="exampleInputText1" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                <div class="invalid-feedback">
                    You have to give your Fullname!
                  </div>
             </div>
             <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    You have to give your Email address!
                  </div>
             </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                You have to give your Password!
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>

    <script>
        (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
  })()
    </script>
</body>